// ==============================
// Override Variables
// ==============================

$header-height: 5rem;
$header-background-color: $global-background-color;
$header-background-color-dark: $global-background-color-dark;